<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>实训管理系统</title>
    <link rel="stylesheet" href="/static/element-ui/index.css" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/student/training.css" />
  </head>

  <body>
    <div id="app">
      <el-menu
        :default-active="navIndex"
        class="el-menu-nav"
        mode="horizontal"
        @select="navSelect"
        background-color="#0779e4"
        text-color="#fff"
        active-text-color="#ffd04b"
      >
        <el-menu-item class="logo-title" index="1">实训管理系统</el-menu-item>
        <el-menu-item class="nav" style="margin-left: 200px;" index="2"
          >公告</el-menu-item
        >
        <el-menu-item class="nav" index="3">实训选择</el-menu-item>
        <el-menu-item class="nav" index="4">周报填写</el-menu-item>
        <el-submenu class="logout-userinfo" index="5">
          <template slot="title"><i class="el-icon-user"></i> 欢迎您</template>
          <el-menu-item index="5-1">个人信息</el-menu-item>
          <el-menu-item index="5-2">退出</el-menu-item>
        </el-submenu>
      </el-menu>

      <div class="selected-table">
        <h3>已选实训</h3>
        <el-table
          :data="selectedCourse"
          border
          stripe
          style="width: 90%; margin-left: 5%;"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" class="demo-table-expand">
                <el-form-item label="实训名：">
                  <span>{{ props.row.name }}</span>
                </el-form-item>
                <el-form-item label="实训地点：">
                  <span>{{ props.row.address }}</span>
                </el-form-item>
                <el-form-item label="实训公司：">
                  <span>{{ props.row.company }}</span>
                </el-form-item>
                <el-form-item label="指导教师：">
                  <span>{{ props.row.mentor }}</span>
                </el-form-item>
                <el-form-item label="限选人数：">
                  <span>{{ props.row.count }}</span>
                </el-form-item>
                <el-form-item label="实训描述：">
                  <span>{{ props.row.desc }}</span>
                </el-form-item>
                <el-form-item label="发布时间：">
                  <span>{{ props.row.create_at }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column prop="id" label="实训编号"> </el-table-column>
          <el-table-column prop="name" label="实训名"> </el-table-column>
          <el-table-column prop="count" label="限选人数"> </el-table-column>
          <el-table-column
            prop="already_select"
            label="已选人数"
          ></el-table-column>
          <el-table-column label="操作"
            ><el-button @click="dropCourse">退选</el-button></el-table-column
          >
        </el-table>
      </div>

      <div class="view-courses">
        <h3>所有实训</h3>
        <div style="width: 90%; margin-left: 5%;">
          <el-input
            placeholder="请输入内容"
            v-model="searchCourse"
            class="input-with-select"
          >
            <el-select
              v-model="select"
              slot="prepend"
              placeholder="请选择"
              style="width: 100px;"
            >
              <el-option label="实训名" value="name"></el-option>
              <el-option label="实训ID" value="id"></el-option>
            </el-select>
            <el-button
              slot="append"
              icon="el-icon-search"
              @click="findCourse"
            ></el-button>
          </el-input>
        </div>
        <div>
          <el-table
            ref="multipleTable"
            :data="courses"
            border
            stripe
            style="width: 90%; margin-left: 5%;"
          >
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" class="demo-table-expand">
                  <el-form-item label="实训名：">
                    <span>{{ props.row.name }}</span>
                  </el-form-item>
                  <el-form-item label="实训地点：">
                    <span>{{ props.row.address }}</span>
                  </el-form-item>
                  <el-form-item label="实训公司：">
                    <span>{{ props.row.company }}</span>
                  </el-form-item>
                  <el-form-item label="指导教师：">
                    <span>{{ props.row.mentor }}</span>
                  </el-form-item>
                  <el-form-item label="限选人数：">
                    <span>{{ props.row.count }}</span>
                  </el-form-item>
                  <el-form-item label="实训描述：">
                    <span>{{ props.row.desc }}</span>
                  </el-form-item>
                  <el-form-item label="发布时间：">
                    <span>{{ props.row.create_at }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column prop="id" label="实训编号"> </el-table-column>
            <el-table-column prop="name" label="实训名"> </el-table-column>
            <el-table-column prop="count" label="限选人数"> </el-table-column>
            <el-table-column
              prop="already_select"
              label="已选人数"
            ></el-table-column>

            <el-table-column label="操作">
              <template slot-scope="props">
                <el-button @click="selectCourse(props.row.id)"
                  >选课</el-button
                ></template
              ></el-table-column
            >
          </el-table>

          <el-pagination
            background
            layout="prev, pager, next"
            style="text-align: center; margin-top: 20px;"
            :current-page.sync="currentPage"
            :total="allCourses.length"
          >
          </el-pagination>
        </div>
      </div>
    </div>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/element-ui/index.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/route.js"></script>
    <script src="/static/js/student/training.js"></script>
  </body>
</html>
