[v-cloak]{display: none;}
body{
  margin: 0;
}
.demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 50%;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  .el-dropdown-link{
    float: right;
    color: white;
}
.el-menu-nav .logo-title{
    margin-top: 10px;
    font-size: 40px;
}

.nav{
    font-size: 25px;
}
.el-menu .logout-userinfo{
    float: right;
    margin-top: 15px;
}
.el-row{
    width: 100%;
    height: 90px;
    background-color: #545c64;
    padding: 3px 0;
    color: white;
}
.el-menu-nav .nav{
    margin-top: 15px;
    margin-left: 50px;
}